<div class="home-container">
    <!-- Rectángulo 1: Sobre Nosotros -->
    <div class="home-box" (click)="navegarSobreNosotros()">
      <h2>Sobre Nosotros</h2>
      <p>Conoce nuestro equipo e historia</p>
    </div>
  
    <!-- Rectángulo 2: Merchandising -->
    <div class="home-box" (click)="navegarTienda()">
      <h2>Merchandising</h2>
      <p>Visita nuestra tienda oficial</p>
    </div>
  
    <!-- Rectángulo 3: Sponsors -->
    <div class="home-box" (click)="navegarSponsors()">
      <h2>Sponsors</h2>
      <p>Nuestras marcas aliadas</p>
    </div>
  </div>
  