# 🐍 Django y dependencias clave
Django==5.1.6
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1

# 🖼️ Para manejo de imágenes
Pillow==10.2.0

# ⚙️ CORS (para conexión con frontend Angular)
django-cors-headers==4.3.1

# 🔐 Variables de entorno
python-dotenv==1.0.1

# 🗃️ PostgreSQL
psycopg2-binary==2.9.9

# 📊 Ciencia de datos y machine learning
pandas==2.2.2
scikit-learn==1.4.2

# 🧪 Testing y herramientas opcionales
# coverage==7.4.4
