<div class="admin-layout">
  <aside class="admin-sidebar">
    <nav>
      <ul>
        <li><a routerLink="listar-productos" routerLinkActive="activo">📦 Productos</a></li>
        <li><a routerLink="crear-producto" routerLinkActive="activo">🆕 Crear Producto</a></li>
        <li><a routerLink="pedidos" routerLinkActive="activo">📑 Pedidos</a></li>
        <li><a routerLink="post" routerLinkActive="activo">📰 Post</a></li>
        <li><a routerLink="equipo" routerLinkActive="activo">👥 Equipo</a></li>
        <li><a routerLink="sponsors" routerLinkActive="activo">🎖️ Sponsors</a></li>
      </ul>
    </nav>
  </aside>
  
  <main class="admin-contenido">
    <router-outlet></router-outlet>
  </main>
  </div>
  