<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h4>Sobre Nosotros</h4>
        <p>Tienda Suzaku ofrece calidad y exclusividad en cada producto.</p>
      </div>
      <div class="footer-section">
        <h4>Contacto</h4>
        <p>Email: soporte&#64;suzakutienda.com</p>
      </div>
      <div class="footer-section">
        <h4>Síguenos</h4>
        <a href="https://www.instagram.com/suzaku_esports/" target="_blank">Instagram</a> | 
        <a href="https://x.com/SuzakuEsports" target="_blank">Twitter</a>
      </div>
    </div>
    <p class="footer-bottom">© 2025 Suzaku Esports. Todos los derechos reservados.</p>
  </footer>
  