<div class="equipopublic-container">

  <!-- 1) POSTS en zigzag -->
  <h2>Últimos Posts del Equipo</h2>
  <div
    class="post-zigzag"
    *ngFor="let post of posts; let i = index"
    [class.reverse]="i % 2 !== 0"
  >
    <div class="post-texto">
      <h3>{{ post.titulo }}</h3>
      <p>{{ post.descripcion }}</p>
    </div>
    <div class="post-imagen">
    <img *ngIf="post.imagen" [src]="post.imagen" alt="Imagen del Post" class="img-cuadrada" />
    </div>
  </div>

  <!-- 2) SEPARADOR -->
  <hr />

  <!-- 3) EQUIPO: menú para Jugadores / Creadores -->
  <h2>Nuestro Equipo</h2>
  <div class="equipo-menu">
    <button
      [class.active]="filtroTipo === 'jugador'"
      (click)="seleccionarFiltro('jugador')"
    >
      Jugadores
    </button>
    <button
      [class.active]="filtroTipo === 'creador'"
      (click)="seleccionarFiltro('creador')"
    >
      Creadores
    </button>
  </div>

  <!-- NUEVO: 4) Lista de integrantes en layout zigzag, 
       con nickname grande y foto 300x300 -->  
  <div class="equipo-list">
    <div
      class="integrant-zigzag"
      *ngFor="let integrante of integrantesFiltrados; let i = index"
      [class.reverse]="i % 2 !== 0"
    >
      <!-- Foto en un lado -->
      <img *ngIf="integrante.foto" [src]="integrante.foto" alt="Foto integrante" class="img-cuadrada" />


      <!-- Texto al otro lado -->
      <div class="integrant-text">
        <!-- Nickname grande y en mayúsculas -->
        <h2 class="nickname-titulo">{{ (integrante.nickname || '') | uppercase }}</h2>
        <h4 class="nombre-apellido">{{ integrante.nombre }} {{ integrante.primer_apellido }}</h4>
        <p *ngIf="integrante.descripcion">{{ integrante.descripcion }}</p>
      </div>
    </div>
  </div>

  <hr />
   
<!-- CLASIFICACIÓN POR TORNEOS -->
<h2 class="seccion-titulo">🏆 Clasificación por Torneos</h2>

<div class="clasificacion-container" *ngFor="let torneo of clasificacion">
  <h3 class="nombre-torneo">{{ torneo.nombre }}</h3>

  <div class="tabla-clasificacion">
    <!-- ENCABEZADOS -->
    <div class="fila encabezado">
      <div>#</div>
      <div>Logo</div>
      <div>Equipo</div>
      <div>Puntos</div>
      <div>Victorias</div>
      <div>Derrotas</div>
    </div>

    <!-- TOP 3 -->
    <div
      class="fila"
      *ngFor="let equipo of torneo.equipos.slice(0, 3); let i = index"
      [ngClass]="{ 'suzaku': equipo.equipo_competitivo.nombre.toLowerCase() === 'suzaku' }"
    >
      <div>{{ i + 1 }}</div>
      <div>
        <img class="logo-equipo grande" [src]="equipo.equipo_competitivo.logo" />
      </div>
      <div>{{ equipo.equipo_competitivo.nombre }}</div>
      <div>{{ equipo.puntos }}</div>
      <div>{{ equipo.victorias }}</div>
      <div>{{ equipo.derrotas }}</div>
    </div>

    <!-- SUZAKU FUERA DEL TOP 3 -->
    <ng-container *ngIf="mostrarSuzakuExtra(torneo.equipos)">
      <div class="fila espacio">...</div>
      <div class="fila suzaku" *ngIf="suzakuExtra(torneo.equipos) as extra">
        <div>{{ extra.posicion + 1 }}</div>
        <div>
          <img class="logo-equipo grande" [src]="extra.equipo.equipo_competitivo.logo" />
        </div>
        <div>{{ extra.equipo.equipo_competitivo.nombre }}</div>
        <div>{{ extra.equipo.puntos }}</div>
        <div>{{ extra.equipo.victorias }}</div>
        <div>{{ extra.equipo.derrotas }}</div>
      </div>
    </ng-container>

    <!-- CLASIFICACIÓN COMPLETA -->
    <ng-container *ngIf="verClasificacion[torneo.id]">
      <div
        class="fila"
        *ngFor="let equipo of getEquiposRestantesSinSuzaku(torneo.equipos); let i = index"
        [ngClass]="{ 'suzaku': equipo.equipo_competitivo.nombre.toLowerCase() === 'suzaku' }"
      >
        <div>{{ i + 4 }}</div>
        <div>
          <img class="logo-equipo grande" [src]="equipo.equipo_competitivo.logo" />
        </div>
        <div>{{ equipo.equipo_competitivo.nombre }}</div>
        <div>{{ equipo.puntos }}</div>
        <div>{{ equipo.victorias }}</div>
        <div>{{ equipo.derrotas }}</div>
      </div>
    </ng-container>
  </div>

  <!-- BOTÓN VER MÁS / OCULTAR -->
  <div class="ver-mas-container">
    <button (click)="toggleClasificacion(torneo.id)">
      {{ verClasificacion[torneo.id] ? '▲ Ocultar' : '▼ Ver Clasificación Completa' }}
    </button>
  </div>
</div>





  
  

</div>
